<header class="password-page__header" role="banner"  data-section-id="{{ section.id }}" data-section-type="password-header">
  <div class="password-page__header__inner">

  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "class": "password-header-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "desktop_logo_height",
        "label": "Desktop logo height",
        "default": 100,
        "min": 20,
        "max": 120,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "mobile_logo_height",
        "label": "Mobile logo height",
        "default": 60,
        "min": 20,
        "max": 120,
        "unit": "px"
      }
    ]
  }
{% endschema %}
