<div class="newsletter-section newsletter-{{ section.id }}">
  
  <div class="grid">
  <div class="page-width">
    <div class="section--divider">
    
    <div class="grid__item medium-up--one-half">
    {%- if block.settings.title != blank -%}
      <p class="h2">{{ block.settings.title | escape }}</p>
    {%- endif -%}

    </div>
    <div class="grid__item medium-up--one-half text-right"> 
    	{%- render 'newsletter-form', section_id: section.id, snippet_context: 'section' -%}
    </div>
    </div>
    
  </div>
  </div>
</div>
