<div
  id="ShippingModal-{{ product.id }}"
  class="modal modal--square modal--shipping"
  data-product-id="{{ product.id }}"
>
  <div class="modal__inner">
    <div class="modal__centered medium-up--text-center">
      <div class="modal__centered-content">
        <div class="newsletter">
          <h3>
            Free Standard International Shipping on all orders within the
            contiguous United States.
          </h3>

          <p>
            Priority shipping available for an additional fee. Ships within 3-5
            business days. Please allow up to 3 additional weeks of transit time
            for your item to arrive.
          </p>

          <button type="button" class="text-close js-modal-close">
            {{ section.settings.close_text }}
          </button>
        </div>
      </div>

      <button type="button" class="modal__close js-modal-close text-link">
        <svg
          aria-hidden="true"
          focusable="false"
          role="presentation"
          class="icon icon-close"
          viewBox="0 0 64 64"
        >
          <path d="M19 17.61l27.12 27.13m0-27.12L19 44.74" />
        </svg>
        <span class="icon__fallback-text">{{
          "general.accessibility.close_modal" | t | json
        }}</span>
      </button>
    </div>
  </div>
</div>
