{%- assign blog = blogs[block.settings.blog] -%}

{%- if block.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="page-width">

  {%- if block.settings.title != blank -%}
      <h2 class="text-center section-header__title">
        {{ block.settings.title | escape }}
      </h2>
  {%- endif -%}

    <div class="grid grid--uniform">
      {% assign count = 0 %}
      
      {%- for article in blog.articles -%}

      	{% if article.tags contains block.settings.tag and count <= block.settings.post_limit %}
      		{% assign count = count | plus: 1 %}
        	{%- render 'article-grid-item-related', article: article, grid_item_width: 'medium-up--one-third', per_row: '3', image_size: block.settings.blog_image_size -%}

        {% endif %}
      {%- endfor -%}
    </div>

</div>

{%- if block.settings.divider -%}</div>{%- endif -%}

