<div data-section-type="blog">
  <div class="page-width page-content">
    <header class="section-header section-header--with-link">
      <h1 class="section-header__title h2 text-left">
        Latest stories on makers, their processes, and techniques
      </h1>
    </header>

    <div class="section--divider">
      <div class="grid">
        <div class="grid__item medium-up--one-fifth grid__item--sidebar sidebar-container">
          {% section 'blog-sidebar' %}
        </div>

        <div class="grid__item medium-up--four-fifths grid__item--content">
          {% section 'blog-template' %}
        </div>
      </div>
    </div>
  </div>
</div>
